@font-face {
  font-family: "BERNIERDISTRESSED-REGULAR";
  src: url("../fonts/BERNIERDISTRESSED-REGULAR.OTF");
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

main h1, main h2, main h3, main h4, main h5 {
  font-family: "BERNIERDISTRESSED-REGULAR";
  color: #D78C69;
  text-align: center;
  margin-bottom: 60px;
  font-size: 82px;
  line-height: 74px;
}
@media (max-width: 991.98px) {
  main h1, main h2, main h3, main h4, main h5 {
    font-size: 76px;
    line-height: 70px;
  }
}
@media (max-width: 767.98px) {
  main h1, main h2, main h3, main h4, main h5 {
    font-size: 70px;
    line-height: 64px;
  }
}
@media (max-width: 575.98px) {
  main h1, main h2, main h3, main h4, main h5 {
    font-size: 63px;
    line-height: 59px;
  }
}
@media (max-width: 419.98px) {
  main h1, main h2, main h3, main h4, main h5 {
    font-size: 52px;
    line-height: 47px;
    letter-spacing: -0.6px;
  }
}
main h1 .sub, main h2 .sub, main h3 .sub, main h4 .sub, main h5 .sub {
  display: block;
  color: #4F7290;
  margin-top: 14px;
  margin-bottom: 14px;
  font-size: 48px;
  line-height: normal;
  text-transform: lowercase;
}
@media (max-width: 991.98px) {
  main h1 .sub, main h2 .sub, main h3 .sub, main h4 .sub, main h5 .sub {
    font-size: 48px;
    line-height: normal;
  }
}
@media (max-width: 767.98px) {
  main h1 .sub, main h2 .sub, main h3 .sub, main h4 .sub, main h5 .sub {
    font-size: 46px;
  }
}
@media (max-width: 575.98px) {
  main h1 .sub, main h2 .sub, main h3 .sub, main h4 .sub, main h5 .sub {
    font-size: 44px;
  }
}
@media (max-width: 419.98px) {
  main h1 .sub, main h2 .sub, main h3 .sub, main h4 .sub, main h5 .sub {
    font-size: 42px;
  }
}
@media (max-width: 419.98px) {
  main .col-12 {
    padding-right: 10px;
    padding-left: 10px;
  }
}
main ul:not(.list-unstyled):not(.list_bullet):not(.flip) {
  list-style: none;
  padding-left: 30px;
}
@media (max-width: 575.98px) {
  main ul:not(.list-unstyled):not(.list_bullet):not(.flip) {
    padding-left: 25px;
  }
}
main ul:not(.list-unstyled):not(.list_bullet):not(.flip) li {
  position: relative;
  margin-bottom: 4px;
}
main ul:not(.list-unstyled):not(.list_bullet):not(.flip) li:before {
  content: "";
  position: absolute;
  left: -22px;
  top: 0.7em;
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #FFA245;
  transform: translateY(-50%);
}
main ul li {
  font-size: 18px;
  line-height: normal;
}

section {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 575.98px) {
  section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.text-muted {
  text-decoration: line-through;
}

#show-menu {
  height: 15px;
}

.button,
button .why,
button .materials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 21px 48px;
  gap: 10px;
  max-width: 370px;
  background: linear-gradient(270deg, #D8775D, #FF8B32);
  border-radius: 6px;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2.5px;
}
.button:hover,
button .why:hover,
button .materials:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  color: white;
  text-decoration: none;
  background: #DB5314;
}
@media (max-width: 1199.98px) {
  .button,
  button .why,
  button .materials {
    padding: 21px 20px;
  }
}
@media (max-width: 991.98px) {
  .button,
  button .why,
  button .materials {
    padding: 21px 48px;
  }
}
@media (max-width: 575.98px) {
  .button,
  button .why,
  button .materials {
    margin: 0 auto;
    padding: 20px 30px;
  }
}
@media (max-width: 481px) {
  .button,
  button .why,
  button .materials {
    letter-spacing: 0.2px;
  }
}

.talks-widget-button {
  z-index: 1500;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 15px;
  right: 20px;
  font-size: 25px;
  text-align: center;
  border-radius: 50%;
  color: white;
  padding-top: 6px;
  background: #3a6686;
  cursor: pointer;
  box-shadow: 0 6px 13px 0 rgba(0, 0, 0, 0.23);
}

.header {
  background-image: url("../images/header/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 820px;
  padding-top: 60px;
}
@media (max-width: 991.98px) {
  .header {
    padding-bottom: 90px;
  }
}
@media (max-width: 1199.98px) {
  .header {
    height: unset;
    padding-bottom: 60px;
  }
}
@media (max-width: 991.98px) {
  .header {
    text-align: center;
    background-image: url("../images/header/bg-mobile.jpg");
  }
}
@media (max-width: 575.98px) {
  .header {
    padding-top: 30px;
    padding-bottom: 60px;
  }
}
.header h1 {
  margin-top: 7px;
  text-align: unset;
  margin-bottom: 20px;
  font-size: 104px;
  line-height: 70px;
  color: #D78C69;
  max-width: 600px;
  text-transform: uppercase;
}
@media (max-width: 991.98px) {
  .header h1 {
    font-size: 100px;
    line-height: 67px;
    margin: 0 auto;
    margin-top: 7px;
    margin-bottom: 20px;
    text-align: center;
  }
}
@media (max-width: 767.98px) {
  .header h1 {
    font-size: 95px;
    line-height: 64px;
  }
}
@media (max-width: 575.98px) {
  .header h1 {
    font-size: 90px;
    line-height: 60px;
    margin-bottom: -10px;
  }
}
@media (max-width: 419.98px) {
  .header h1 {
    font-size: 77px;
    line-height: 57px;
    letter-spacing: -1.2px;
    margin-bottom: -20px;
  }
}
.header h1 .small {
  font-size: 84px;
  display: block;
  margin-top: 20px;
  text-transform: lowercase;
}
@media (max-width: 991.98px) {
  .header h1 .small {
    font-size: 80px;
    margin-top: 15px;
  }
}
@media (max-width: 767.98px) {
  .header h1 .small {
    font-size: 75px;
  }
}
@media (max-width: 575.98px) {
  .header h1 .small {
    font-size: 71px;
  }
}
@media (max-width: 419.98px) {
  .header h1 .small {
    font-size: 62px;
    margin-top: 10px;
  }
}
.header h1 .sub {
  display: block;
  margin-top: 20px;
  font-size: 48px;
  line-height: 41px;
}
@media (max-width: 1199.98px) {
  .header h1 .sub {
    font-size: 46px;
  }
}
@media (max-width: 991.98px) {
  .header h1 .sub {
    margin-top: 25px !important;
    font-size: 48px;
    width: unset;
    margin: 0 auto;
    margin-top: 15px;
  }
}
@media (max-width: 767.98px) {
  .header h1 .sub {
    margin-top: 20px !important;
    font-size: 45px;
  }
}
@media (max-width: 575.98px) {
  .header h1 .sub {
    margin-top: 15px !important;
    font-size: 41px;
  }
}
@media (max-width: 419.98px) {
  .header h1 .sub {
    font-size: 36px;
    line-height: 37px;
    letter-spacing: -1.2px;
  }
}
.header ul {
  padding-left: 25px;
  margin-bottom: 30px;
  margin-top: 50px;
}
@media (max-width: 1199.98px) {
  .header ul {
    width: 503px;
  }
}
@media (max-width: 991.98px) {
  .header ul {
    width: unset;
  }
}
@media (max-width: 575.98px) {
  .header ul {
    padding-left: 28px;
    margin-bottom: 40px;
  }
}
.header ul li {
  font-size: 22px;
  max-width: 440px;
  margin-bottom: 10px !important;
}
@media (max-width: 1199.98px) {
  .header ul li {
    max-width: 395px;
  }
}
@media (max-width: 991.98px) {
  .header ul li {
    max-width: unset;
    text-align: left;
    font-size: 22px;
    margin-bottom: 13px !important;
  }
}
@media (max-width: 575.98px) {
  .header ul li {
    font-size: 21px;
    line-height: 23px;
  }
}
.header ul li b {
  color: #4F7290;
}
.header .advantages {
  margin-top: 70px;
  z-index: 10;
  position: sticky;
}
@media (max-width: 1199.98px) {
  .header .advantages {
    justify-content: space-around;
  }
}
@media (max-width: 575.98px) {
  .header .advantages {
    margin-top: 30px;
  }
}
.header .advantages .item {
  background-image: url(../images/header/die.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 40px;
  text-align: center;
  border: 6px solid #FFD6B6;
}
@media (max-width: 1199.98px) {
  .header .advantages .item {
    width: 225px;
    height: 107px;
  }
}
@media (max-width: 991.98px) {
  .header .advantages .item {
    margin: 0 auto;
    margin-top: 25px;
    height: 114px;
    width: 253px;
  }
}
@media (max-width: 575.98px) {
  .header .advantages .item {
    border: 3px solid #FFD6B6;
  }
}
.header .advantages .item p {
  font-size: 21px;
  line-height: normal;
  margin: 0;
  padding: 0;
}
.header .advantages .item p b {
  color: #4F7290;
}
@media (max-width: 991.98px) {
  .header .button {
    margin: 0 auto;
    margin-top: 30px;
  }
}
@media (max-width: 575.98px) {
  .header .button {
    margin-top: 15px;
  }
}
.header-img__desc {
  position: absolute;
  max-width: 620px;
  margin-top: -543px;
  margin-left: 540px;
}
@media (max-width: 1199.98px) {
  .header-img__desc {
    max-width: 500px;
    margin-top: -523px;
    margin-left: 449px;
  }
}
.header-img__desc-brush {
  position: absolute;
  max-width: 280px;
  margin-top: -147px;
  margin-left: 459px;
}
@media (max-width: 1199.98px) {
  .header-img__desc-brush {
    max-width: 190px;
    margin-top: -47px;
    margin-left: 399px;
  }
}
@media (max-width: 991.98px) {
  .header-img__desc-brush {
    display: none;
  }
}

.webp .header {
  background-image: url("../images/header/bg.webp");
}
@media (max-width: 991.98px) {
  .webp .header {
    background-image: url("../images/header/bg-mobile.webp");
  }
}
.webp .header .advantages .item {
  background-image: url(../images/header/die.webp);
}

.about {
  padding-top: 180px;
}
@media (max-width: 1199.98px) {
  .about {
    padding-top: 120px;
  }
}
@media (max-width: 991.98px) {
  .about {
    padding-top: 100px;
  }
}
@media (max-width: 575.98px) {
  .about {
    padding-top: 60px;
  }
}
.about h2 {
  margin-bottom: 40px;
}
@media (max-width: 1199.98px) {
  .about h2 {
    margin-bottom: 20px;
  }
}
@media (max-width: 991.98px) {
  .about h2 {
    margin-bottom: 20px;
  }
}
@media (max-width: 575.98px) {
  .about h2 {
    margin-bottom: 10px;
  }
}
@media (max-width: 419.98px) {
  .about h2 {
    margin-bottom: 0;
  }
}
.about p {
  font-size: 22px;
  line-height: normal;
  margin-bottom: 30px;
}
@media (max-width: 991.98px) {
  .about p {
    margin-top: 35px;
    margin-bottom: -20px;
    text-align: center;
  }
}
@media (max-width: 575.98px) {
  .about p {
    font-size: 20px;
    margin-bottom: 19px;
    margin-top: 25px;
  }
}
@media (max-width: 1199.98px) {
  .about .text {
    margin-top: 45px;
  }
}
@media (max-width: 991.98px) {
  .about .text {
    margin: 0 auto;
  }
}
.about-row {
  align-items: center;
}
.about-row-2 p {
  width: 510px;
  z-index: 10;
  position: sticky;
}
@media (max-width: 1199.98px) {
  .about-row-2 p {
    width: unset;
  }
}
.about b {
  color: #4F7290;
}

@media (max-width: 1199.98px) {
  .what {
    padding-top: 30px;
  }
}
@media (max-width: 575.98px) {
  .what {
    padding-bottom: 30px;
  }
}
.what__bg {
  background-image: url("../images/what/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border: 6px solid #FFD6B6;
}
@media (max-width: 991.98px) {
  .what__bg {
    padding-top: 40px;
    padding-bottom: 200px;
  }
}
@media (max-width: 575.98px) {
  .what__bg {
    border: 3px solid #FFD6B6;
  }
}
.what img {
  border: 6px solid #FFD6B6;
  max-width: 500px;
  margin-top: -100px;
  margin-left: -129px;
  position: absolute;
}
@media (max-width: 1199.98px) {
  .what img {
    max-width: 410px;
    margin-top: -40px;
  }
}
@media (max-width: 991.98px) {
  .what img {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: unset;
    margin-top: -160px;
    max-width: 540px;
  }
}
@media (max-width: 767.98px) {
  .what img {
    max-width: 100%;
  }
}
@media (max-width: 575.98px) {
  .what img {
    border: 3px solid #FFD6B6;
    margin-top: -190px;
  }
}
.what h2 {
  margin-bottom: 40px;
  text-align: left;
  margin-top: 80px;
  margin-left: 60px;
}
@media (max-width: 1199.98px) {
  .what h2 {
    margin-bottom: 20px;
    margin-left: 10px;
  }
}
@media (max-width: 991.98px) {
  .what h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
  }
}
@media (max-width: 575.98px) {
  .what h2 {
    margin-bottom: 20px;
  }
}
.what p {
  font-size: 22px;
  line-height: normal;
  margin: 0;
  margin-left: 60px;
  margin-bottom: 80px;
  max-width: 545px;
}
@media (max-width: 1199.98px) {
  .what p {
    margin-left: 10px;
    max-width: 485px;
  }
}
@media (max-width: 991.98px) {
  .what p {
    max-width: unset;
    text-align: center;
    margin: 0 auto;
  }
}
@media (max-width: 575.98px) {
  .what p {
    font-size: 20px;
    margin-bottom: 19px;
  }
}
.what-row {
  align-items: center;
}
.what b {
  color: #4F7290;
}

.webp .what__bg {
  background-image: url("../images/what/bg.webp");
}

.program {
  padding-bottom: 0;
}
@media (max-width: 575.98px) {
  .program {
    padding-bottom: 60px;
  }
}
@media (max-width: 419.98px) {
  .program .col-12 {
    overflow: hidden;
  }
}
@media (max-width: 575.98px) {
  .program .pt__top {
    padding-top: 70px;
  }
}
@media (max-width: 575.98px) {
  .program .pt__bottom {
    padding-bottom: 70px;
  }
}
.program h2 {
  margin-bottom: 30px;
}
@media (max-width: 767.98px) {
  .program h2 {
    margin-bottom: 75px;
  }
}
@media (max-width: 575.98px) {
  .program h2 {
    margin-bottom: 50px;
  }
}
.program img {
  max-width: 95%;
}
@media (max-width: 991.98px) {
  .program img {
    max-width: 100%;
  }
}
.program .lesson-row {
  justify-content: space-around;
  align-items: center;
  margin-bottom: 90px;
}
@media (max-width: 575.98px) {
  .program .lesson-row {
    margin-bottom: 25px;
  }
}
.program .lesson-item {
  height: 100%;
}
.program .lesson__counter {
  font-family: "BERNIERDISTRESSED-REGULAR";
  font-size: 37px;
  background-image: url("../images/program/span.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  color: #80503A;
  max-width: 162px;
  height: 58px;
  text-align: center;
  margin-bottom: 20px;
  padding-right: 20px;
}
@media (max-width: 991.98px) {
  .program .lesson__counter {
    margin: 0 auto;
    margin-bottom: 15px;
  }
}
@media (max-width: 575.98px) {
  .program .lesson__counter {
    font-size: 32px;
    max-width: 173px;
    height: 62px;
  }
}
.program .lesson__title {
  font-size: 27px;
  color: #4F7290;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 991.98px) {
  .program .lesson__title {
    text-align: center;
    font-size: 26px;
  }
}
@media (max-width: 575.98px) {
  .program .lesson__title {
    font-size: 26px;
  }
}
.program .lesson__text {
  font-size: 22px;
  font-style: normal;
  line-height: normal;
}
@media (max-width: 575.98px) {
  .program .lesson__text {
    font-size: 20px;
  }
}
.program .lesson__sub {
  font-size: 22px;
  font-weight: 600;
  color: #D78C69;
}
@media (max-width: 575.98px) {
  .program .lesson__sub {
    font-size: 20px;
    margin-bottom: 8px;
  }
}
.program .lesson__time {
  display: block;
  font-size: 22px;
  font-weight: 700;
  color: #D78C69;
  margin-top: 15px;
  margin-bottom: 15px;
}
@media (max-width: 575.98px) {
  .program .lesson__time {
    font-size: 20px;
    line-height: normal;
  }
}
.program ul {
  padding-left: 22px;
}
.program ul li {
  margin-bottom: 13px;
  font-size: 21px;
}
@media (max-width: 575.98px) {
  .program ul li {
    font-size: 20px;
  }
}
.program ul li::before {
  background-color: #FFA245 !important;
}
.program-bg {
  padding: 0;
  padding-top: 90px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../images/program/bg/bg.jpg");
}
@media (max-width: 575.98px) {
  .program-bg {
    padding-top: 25px;
  }
}
.program .p-t {
  padding-top: 90px;
}
@media (max-width: 575.98px) {
  .program .p-t {
    padding-top: 25px;
  }
}
.program .p-b {
  padding-bottom: 90px;
}

.webp .program-bg {
  background-image: url("../images/program/bg/bg.webp");
}
.webp .program .lesson__counter {
  background-image: url("../images/program/span.webp");
}

.expert {
  background-image: url("../images/expert/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
@media (max-width: 575.98px) {
  .expert {
    padding-top: 25px;
  }
}
.expert .row {
  align-items: center;
}
.expert h2 {
  text-align: left;
  margin-bottom: 20px;
}
@media (max-width: 1199.98px) {
  .expert h2 {
    margin-left: -110px;
  }
}
@media (max-width: 991.98px) {
  .expert h2 {
    margin-left: 0;
    margin-bottom: 50px;
    text-align: center;
    width: unset;
  }
}
@media (max-width: 575.98px) {
  .expert h2 {
    margin-bottom: 60px;
  }
}
.expert h2 span {
  margin-top: 0;
}
@media (max-width: 991.98px) {
  .expert h2 span {
    display: block;
    text-align: center;
  }
}
@media (max-width: 767.98px) {
  .expert h2 span {
    margin-bottom: 10px;
  }
}
@media (max-width: 419.98px) {
  .expert h2 span {
    margin-top: 0;
  }
}
.expert-img {
  max-width: 520px;
  margin-left: -70px;
}
@media (max-width: 1199.98px) {
  .expert-img {
    margin-left: -50px;
    max-width: 430px;
  }
}
@media (max-width: 991.98px) {
  .expert-img {
    margin: 0 auto;
    max-width: 100%;
  }
}
@media (max-width: 575.98px) {
  .expert-img {
    margin-top: 10px;
  }
}
.expert-text span {
  display: flex;
}
@media (max-width: 575.98px) {
  .expert-text span {
    display: block;
    text-align: center;
    margin-top: 25px;
  }
}
.expert-text img {
  margin-right: 25px;
}
@media (max-width: 991.98px) {
  .expert-text img {
    margin-top: -31px;
    margin-right: 23px;
  }
}
.expert-text p {
  font-size: 23px;
  line-height: normal;
  margin-top: 13px;
}
@media (max-width: 991.98px) {
  .expert-text p {
    margin-top: 0;
    margin-bottom: 35px;
    max-width: unset;
  }
}
@media (max-width: 767.98px) {
  .expert-text p {
    font-size: 21px;
    max-width: unset;
  }
}
@media (max-width: 575.98px) {
  .expert-text p {
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 60px;
  }
}
.expert .drop-1 .drop-btn {
  color: #4F7290;
  border: 1px solid #4F7290;
  border-radius: 30px;
  width: 230px;
  padding: 8px 0px 8px 0px;
  font-size: 18px;
  margin-left: 30px;
  margin-top: 30px;
}
.expert .drop-1 .drop-btn:hover {
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
  text-decoration: none;
  color: #D78C69;
  background: rgb(231, 242, 255);
}
@media (max-width: 991.98px) {
  .expert .drop-1 .drop-btn {
    margin-top: 0px;
  }
}
@media (max-width: 575.98px) {
  .expert .drop-1 .drop-btn {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
}
.expert .drop-1 .drop-text {
  transform: translate3d(-140px, -5px, 0px) !important;
  top: 0px !important;
  left: 0px !important;
  width: 583px;
  border: none;
  background-color: unset;
}
@media (max-width: 991.98px) {
  .expert .drop-1 .drop-text {
    width: 635px;
    transform: translate3d(-42px, -32px, 0px) !important;
  }
}
@media (max-width: 767.98px) {
  .expert .drop-1 .drop-text {
    transform: translate3d(-22px, -32px, 0px) !important;
    width: 425px;
  }
}
@media (max-width: 575.98px) {
  .expert .drop-1 .drop-text {
    width: 94%;
    transform: translate3d(-10px, -32px, 0px) !important;
  }
}
@media (max-width: 419.98px) {
  .expert .drop-1 .drop-text {
    width: 100%;
  }
}
.expert .drop-1 .drop-pad {
  padding: 100px 20px 20px 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 15.2px 0px rgba(30, 102, 97, 0.25);
  background: rgb(255, 255, 255);
}
@media (max-width: 575.98px) {
  .expert .drop-1 .drop-pad {
    padding: 90px 10px 15px 10px;
  }
}
.expert .drop-1 .dropdown.show .drop-btn {
  background: #eaf6fe;
}
.expert .drop-1 .sertificat {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 575.98px) {
  .expert .drop-1 .sertificat {
    justify-content: center;
  }
}
.expert .drop-1 .sertificat-item-1 img, .expert .drop-1 .sertificat-item-2 img, .expert .drop-1 .sertificat-item-3 img, .expert .drop-1 .sertificat-item-4 img, .expert .drop-1 .sertificat-item-5 img, .expert .drop-1 .sertificat-item-6 img, .expert .drop-1 .sertificat-item-7 img {
  max-width: 90px;
}
@media (max-width: 575.98px) {
  .expert .drop-1 .sertificat-item-1 img, .expert .drop-1 .sertificat-item-2 img, .expert .drop-1 .sertificat-item-3 img, .expert .drop-1 .sertificat-item-4 img, .expert .drop-1 .sertificat-item-5 img, .expert .drop-1 .sertificat-item-6 img, .expert .drop-1 .sertificat-item-7 img {
    max-width: 80px;
  }
}
.expert .drop-1 .sertificat-item-8 img, .expert .drop-1 .sertificat-item-9 img {
  max-width: 154px;
}
@media (max-width: 575.98px) {
  .expert .drop-1 .sertificat-item-8 img, .expert .drop-1 .sertificat-item-9 img {
    max-width: 151px;
  }
}
@media (max-width: 419.98px) {
  .expert .drop-1 .sertificat-item-8 img, .expert .drop-1 .sertificat-item-9 img {
    max-width: 81px;
  }
}
.expert .drop-1 .sertificat-item img {
  margin: 0 auto;
  padding: 0;
  padding-right: 5px;
  padding-bottom: 5px;
}

.webp .expert {
  background-image: url("../images/expert/bg.webp");
}

@media (max-width: 575.98px) {
  .expert {
    background-image: url("../images/expert/bg-mobile.jpg");
  }
  .webp .expert {
    background-image: url("../images/expert/bg-mobile.webp");
  }
}
#example-expert {
  overflow: hidden;
  z-index: 9;
  position: sticky;
}
@media (max-width: 575.98px) {
  #example-expert {
    padding-top: 30px;
  }
}
@media (max-width: 450px) {
  #example-expert .main-carousel {
    padding: 5px;
    padding-bottom: 5px;
  }
}
#example-expert .example-expert .main-carousel .carousel-item-img {
  height: 610px;
}
@media (max-width: 575.98px) {
  #example-expert .example-expert .main-carousel .carousel-item-img {
    height: 100vw;
  }
}
#example-expert .example-expert-heading {
  margin-bottom: 70px;
}
@media (max-width: 575.98px) {
  #example-expert .example-expert-heading {
    margin-bottom: 25px;
  }
}
#example-expert .main-carousel #carouselExampleIndicators {
  max-width: 855px;
}
#example-expert .carousel-inner {
  border: 6px solid #fff;
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.17);
}
@media (max-width: 575.98px) {
  #example-expert .carousel-inner {
    border: 3px solid #fff;
  }
}
#example-expert .main-carousel {
  border-radius: 1px;
  border: 6px solid #FFD6B6;
}
@media (max-width: 575.98px) {
  #example-expert .main-carousel {
    border: 3px solid #FFD6B6;
  }
}
@media (max-width: 767.98px) {
  #example-expert .carousel-indicators {
    margin-left: 1%;
    margin-right: 1%;
  }
}

#example-expert .main-carousel #carouselExampleIndicators .carousel-icon-bg,
#example-expert .main-carousel #carouselExampleIndicators .carousel-indicators li {
  background: #4F7290;
}

.main-carousel .carousel-item-img-1 {
  background-image: url(../images/example-expert/1-2x-scale-2_00x.jpg);
}
.main-carousel .carousel-item-img-2 {
  background-image: url(../images/example-expert/2-2x-scale-2_00x.jpg);
}
.main-carousel .carousel-item-img-3 {
  background-image: url(../images/example-expert/3-2x-scale-2_00x.jpg);
}
.main-carousel .carousel-item-img-4 {
  background-image: url(../images/example-expert/4-2x-scale-2_00x.jpg);
}
.main-carousel .carousel-item-img-5 {
  background-image: url(../images/example-expert/5-2x-scale-2_00x.jpg);
}
.main-carousel .carousel-item-img-6 {
  background-image: url(../images/example-expert/6-2x-scale-2_00x.jpg);
}
.main-carousel .carousel-item-img-7 {
  background-image: url(../images/example-expert/7-2x-scale-2_00x.jpg);
}
.main-carousel .carousel-item-img-8 {
  background-image: url(../images/example-expert/8-2x-scale-2_00x.jpg);
}
.main-carousel .carousel-item-img-9 {
  background-image: url(../images/example-expert/9-2x-scale-2_00x.jpg);
}
.main-carousel .carousel-item-img-10 {
  background-image: url(../images/example-expert/10-2x-scale-2_00x.jpg);
}
.main-carousel .carousel-item-img-11 {
  background-image: url(../images/example-expert/11-2x-scale-2_00x.jpg);
}
.main-carousel .carousel-item-img-12 {
  background-image: url(../images/example-expert/12-2x-scale-2_00x.jpg);
}
.main-carousel .carousel-item-img-13 {
  background-image: url(../images/example-expert/13-2x-scale-2_00x.jpg);
}
.main-carousel .carousel-item-img-14 {
  background-image: url(../images/example-expert/14-2x-scale-2_00x.jpg);
}
.main-carousel .carousel-item-img-15 {
  background-image: url(../images/example-expert/15-2x-scale-2_00x.jpg);
}
.main-carousel .carousel-item-img-16 {
  background-image: url(../images/example-expert/16-2x-scale-2_00x.jpg);
}
.main-carousel .carousel-item-img-17 {
  background-image: url(../images/example-expert/17-2x-scale-2_00x.jpg);
}
.main-carousel .carousel-item-img-18 {
  background-image: url(../images/example-expert/18-2x-scale-2_00x.jpg);
}
.main-carousel .carousel-item-img-19 {
  background-image: url(../images/example-expert/19-2x-scale-2_00x.jpg);
}

.webp .main-carousel .carousel-item-img-1 {
  background-image: url(../images/example-expert/1-2x-scale-2_00x.webp);
}
.webp .main-carousel .carousel-item-img-2 {
  background-image: url(../images/example-expert/2-2x-scale-2_00x.webp);
}
.webp .main-carousel .carousel-item-img-3 {
  background-image: url(../images/example-expert/3-2x-scale-2_00x.webp);
}
.webp .main-carousel .carousel-item-img-4 {
  background-image: url(../images/example-expert/4-2x-scale-2_00x.webp);
}
.webp .main-carousel .carousel-item-img-5 {
  background-image: url(../images/example-expert/5-2x-scale-2_00x.webp);
}
.webp .main-carousel .carousel-item-img-6 {
  background-image: url(../images/example-expert/6-2x-scale-2_00x.webp);
}
.webp .main-carousel .carousel-item-img-7 {
  background-image: url(../images/example-expert/7-2x-scale-2_00x.webp);
}
.webp .main-carousel .carousel-item-img-8 {
  background-image: url(../images/example-expert/8-2x-scale-2_00x.webp);
}
.webp .main-carousel .carousel-item-img-9 {
  background-image: url(../images/example-expert/9-2x-scale-2_00x.webp);
}
.webp .main-carousel .carousel-item-img-10 {
  background-image: url(../images/example-expert/10-2x-scale-2_00x.webp);
}
.webp .main-carousel .carousel-item-img-11 {
  background-image: url(../images/example-expert/11-2x-scale-2_00x.webp);
}
.webp .main-carousel .carousel-item-img-12 {
  background-image: url(../images/example-expert/12-2x-scale-2_00x.webp);
}
.webp .main-carousel .carousel-item-img-13 {
  background-image: url(../images/example-expert/13-2x-scale-2_00x.webp);
}
.webp .main-carousel .carousel-item-img-14 {
  background-image: url(../images/example-expert/14-2x-scale-2_00x.webp);
}
.webp .main-carousel .carousel-item-img-15 {
  background-image: url(../images/example-expert/15-2x-scale-2_00x.webp);
}
.webp .main-carousel .carousel-item-img-16 {
  background-image: url(../images/example-expert/16-2x-scale-2_00x.webp);
}
.webp .main-carousel .carousel-item-img-17 {
  background-image: url(../images/example-expert/17-2x-scale-2_00x.webp);
}
.webp .main-carousel .carousel-item-img-18 {
  background-image: url(../images/example-expert/18-2x-scale-2_00x.webp);
}
.webp .main-carousel .carousel-item-img-19 {
  background-image: url(../images/example-expert/19-2x-scale-2_00x.webp);
}

@media (max-width: 575.98px) {
  .main-carousel .carousel-item-img-1 {
    background-image: url(../images/example-expert/1.jpg);
  }
  .main-carousel .carousel-item-img-2 {
    background-image: url(../images/example-expert/2.jpg);
  }
  .main-carousel .carousel-item-img-3 {
    background-image: url(../images/example-expert/3.jpg);
  }
  .main-carousel .carousel-item-img-4 {
    background-image: url(../images/example-expert/4.jpg);
  }
  .main-carousel .carousel-item-img-5 {
    background-image: url(../images/example-expert/5.jpg);
  }
  .main-carousel .carousel-item-img-6 {
    background-image: url(../images/example-expert/6.jpg);
  }
  .main-carousel .carousel-item-img-7 {
    background-image: url(../images/example-expert/7.jpg);
  }
  .main-carousel .carousel-item-img-8 {
    background-image: url(../images/example-expert/8.jpg);
  }
  .main-carousel .carousel-item-img-9 {
    background-image: url(../images/example-expert/9.jpg);
  }
  .main-carousel .carousel-item-img-10 {
    background-image: url(../images/example-expert/10.jpg);
  }
  .main-carousel .carousel-item-img-11 {
    background-image: url(../images/example-expert/11.jpg);
  }
  .main-carousel .carousel-item-img-12 {
    background-image: url(../images/example-expert/12.jpg);
  }
  .main-carousel .carousel-item-img-13 {
    background-image: url(../images/example-expert/13.jpg);
  }
  .main-carousel .carousel-item-img-14 {
    background-image: url(../images/example-expert/14.jpg);
  }
  .main-carousel .carousel-item-img-15 {
    background-image: url(../images/example-expert/15.jpg);
  }
  .main-carousel .carousel-item-img-16 {
    background-image: url(../images/example-expert/16.jpg);
  }
  .main-carousel .carousel-item-img-17 {
    background-image: url(../images/example-expert/17.jpg);
  }
  .main-carousel .carousel-item-img-18 {
    background-image: url(../images/example-expert/18.jpg);
  }
  .main-carousel .carousel-item-img-19 {
    background-image: url(../images/example-expert/19.jpg);
  }
  .webp .main-carousel .carousel-item-img-1 {
    background-image: url(../images/example-expert/1.webp);
  }
  .webp .main-carousel .carousel-item-img-2 {
    background-image: url(../images/example-expert/2.webp);
  }
  .webp .main-carousel .carousel-item-img-3 {
    background-image: url(../images/example-expert/3.webp);
  }
  .webp .main-carousel .carousel-item-img-4 {
    background-image: url(../images/example-expert/4.webp);
  }
  .webp .main-carousel .carousel-item-img-5 {
    background-image: url(../images/example-expert/5.webp);
  }
  .webp .main-carousel .carousel-item-img-6 {
    background-image: url(../images/example-expert/6.webp);
  }
  .webp .main-carousel .carousel-item-img-7 {
    background-image: url(../images/example-expert/7.webp);
  }
  .webp .main-carousel .carousel-item-img-8 {
    background-image: url(../images/example-expert/8.webp);
  }
  .webp .main-carousel .carousel-item-img-9 {
    background-image: url(../images/example-expert/9.webp);
  }
  .webp .main-carousel .carousel-item-img-10 {
    background-image: url(../images/example-expert/10.webp);
  }
  .webp .main-carousel .carousel-item-img-11 {
    background-image: url(../images/example-expert/11.webp);
  }
  .webp .main-carousel .carousel-item-img-12 {
    background-image: url(../images/example-expert/12.webp);
  }
  .webp .main-carousel .carousel-item-img-13 {
    background-image: url(../images/example-expert/13.webp);
  }
  .webp .main-carousel .carousel-item-img-14 {
    background-image: url(../images/example-expert/14.webp);
  }
  .webp .main-carousel .carousel-item-img-15 {
    background-image: url(../images/example-expert/15.webp);
  }
  .webp .main-carousel .carousel-item-img-16 {
    background-image: url(../images/example-expert/16.webp);
  }
  .webp .main-carousel .carousel-item-img-17 {
    background-image: url(../images/example-expert/17.webp);
  }
  .webp .main-carousel .carousel-item-img-18 {
    background-image: url(../images/example-expert/18.webp);
  }
  .webp .main-carousel .carousel-item-img-19 {
    background-image: url(../images/example-expert/19.webp);
  }
}
.materials {
  padding-top: 30px;
}
.materials h2 {
  margin-bottom: 70px;
}
@media (max-width: 991.98px) {
  .materials h2 {
    margin-bottom: 40px;
  }
}
@media (max-width: 575.98px) {
  .materials h2 {
    margin-bottom: 20px;
  }
}
.materials .line {
  height: 6px;
  background-color: #FFD6B6;
  margin-top: 20px;
}
.materials__head {
  font-size: 22px;
  line-height: normal;
  color: #4F7290;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}
.materials__text {
  font-size: 21px;
  line-height: normal;
  text-align: center;
  margin-top: 20px;
}
@media (max-width: 575.98px) {
  .materials__text {
    font-size: 20px;
  }
}
.materials img {
  max-width: 95px;
  margin: 0 auto;
  display: flex;
}
@media (max-width: 991.98px) {
  .materials img {
    margin-top: 30px;
  }
}
.materials .drop-1.show .drop-btn {
  text-decoration: none;
  background-color: #EDFBFF;
}
.materials .drop-1 .drop-btn {
  color: #4F7290 !important;
  border: 1px solid #4F7290;
  background-color: #fff;
  text-transform: uppercase;
  border-radius: 50px;
  width: 180px;
  height: 40px;
  margin-left: 40px;
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}
@media (max-width: 991.98px) {
  .materials .drop-1 .drop-btn {
    margin: 0 auto;
    margin-top: 20px;
  }
}
@media (max-width: 575.98px) {
  .materials .drop-1 .drop-btn {
    width: 157px;
  }
}
.materials .drop-1 .drop-text {
  transform: translate3d(5px, -30px, 0px) !important;
  top: 0 !important;
  left: 0 !important;
  width: 525px;
  border: none;
  background-color: unset;
}
@media (max-width: 1199.98px) {
  .materials .drop-1 .drop-text {
    transform: translate3d(5px, -30px, 0px) !important;
  }
}
@media (max-width: 991.98px) {
  .materials .drop-1 .drop-text {
    transform: translate3d(75px, -30px, 0px) !important;
    width: 555px;
  }
}
@media (max-width: 767.98px) {
  .materials .drop-1 .drop-text {
    transform: translate3d(5px, -30px, 0px) !important;
    width: 505px;
  }
}
@media (max-width: 575.98px) {
  .materials .drop-1 .drop-text {
    width: 99%;
    transform: translate3d(-3px, -30px, 0px) !important;
  }
}
@media (max-width: 419.98px) {
  .materials .drop-1 .drop-text {
    transform: translate3d(-1px, -30px, 0px) !important;
  }
}
.materials .drop-1 .drop-pad {
  display: flex;
  justify-content: start;
  padding: 90px 20px 20px 20px;
  border: 1px solid #4F7290;
  border-radius: 20px;
  box-shadow: 0px 0px 11.1px 0px rgba(0, 0, 0, 0.15);
  background: #fff;
}
@media (max-width: 575.98px) {
  .materials .drop-1 .drop-pad {
    display: block;
    padding: 90px 10px 15px 10px;
  }
}
.materials .drop-1 .drop-pad p {
  font-size: 20px !important;
  margin: 0 !important;
  margin-bottom: 20px !important;
}
@media (max-width: 575.98px) {
  .materials .drop-1 .drop-pad p {
    font-size: 18px !important;
  }
}
.materials .drop-1 .drop-pad ul {
  margin: 0;
}
.materials .drop-1 .drop-pad ul li {
  font-size: 20px !important;
  margin-bottom: 0px !important;
  margin-top: 10px;
}
@media (max-width: 575.98px) {
  .materials .drop-1 .drop-pad ul li {
    font-size: 18px !important;
  }
}
.materials .drop-1 .dropdown.show .drop-btn {
  background: #eaf6fe;
}

.bonus {
  padding-top: 20px;
}
.bonus .btn-gutov {
  width: 280px;
  padding: 12px 48px;
}
@media (max-width: 767.98px) {
  .bonus .btn-gutov {
    width: 238px;
    padding: 7px 32px;
  }
}
.bonus h2 {
  text-align: center;
  margin-bottom: 60px;
}
@media (max-width: 767.98px) {
  .bonus h2 {
    margin-bottom: 40px;
  }
}
@media (max-width: 575.98px) {
  .bonus h2 {
    margin-bottom: 10px;
  }
}
.bonus-row {
  margin-bottom: 55px;
  align-items: center;
}
@media (max-width: 575.98px) {
  .bonus-row {
    margin-bottom: 40px;
  }
}
.bonus-title {
  font-family: "BERNIERDISTRESSED-REGULAR";
  font-size: 37px !important;
  background-image: url("../images/program/span.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  color: #80503A;
  max-width: 162px;
  height: 58px;
  text-align: center;
  margin-bottom: 20px;
  padding-right: 20px;
}
@media (max-width: 991.98px) {
  .bonus-title {
    margin: 0 auto;
    margin-bottom: 15px;
  }
}
@media (max-width: 575.98px) {
  .bonus-title {
    font-size: 32px;
    max-width: 173px;
    height: 62px;
  }
}
.bonus-sub {
  font-weight: 700;
  font-size: 27px !important;
  line-height: 32px;
  color: #4F7290;
}
@media (max-width: 991.98px) {
  .bonus-sub {
    text-align: center;
  }
}
@media (max-width: 575.98px) {
  .bonus-sub {
    font-size: 24px !important;
    margin-bottom: 21px;
    line-height: 27px;
  }
}
.bonus-time {
  font-size: 21px;
  font-weight: 600;
  line-height: normal;
  color: #D78C69;
  margin-bottom: -15px;
  margin-top: 25px;
}
@media (max-width: 575.98px) {
  .bonus-time {
    font-size: 20px;
  }
}
.bonus-text {
  font-size: 21px;
  font-weight: 400;
  line-height: normal;
  margin-top: 29px;
  margin-bottom: 26px;
}
@media (max-width: 575.98px) {
  .bonus-text {
    font-size: 20px;
  }
}
.bonus p {
  font-size: 21px;
  line-height: normal;
  margin-top: 25px;
}
@media (max-width: 575.98px) {
  .bonus p {
    font-size: 20px;
  }
}
.bonus .pr {
  font-size: 21px;
  margin-top: 21px;
  margin-bottom: 5px;
}
.bonus-ul {
  font-size: 21px;
  line-height: normal;
  font-weight: 600;
  color: #D78C69;
}
@media (max-width: 419.98px) {
  .bonus ul {
    padding-left: 23px !important;
  }
}
.bonus ul li {
  font-size: 21px;
  line-height: normal;
  margin-bottom: 8px;
}
@media (max-width: 575.98px) {
  .bonus ul li {
    font-size: 20px;
  }
}

.webp .bonus-title {
  background-image: url("../images/bonus/span.webp");
}

@media (max-width: 1199.98px) {
  .marafon__sale h2 {
    font-size: 70px;
    line-height: 69px;
  }
}
@media (max-width: 991.98px) {
  .marafon__sale h2 {
    font-size: 64px;
    line-height: 59px;
  }
}
@media (max-width: 767.98px) {
  .marafon__sale h2 {
    font-size: 56px;
    line-height: 52px;
  }
}
@media (max-width: 575.98px) {
  .marafon__sale h2 {
    font-size: 49px;
    line-height: 46px;
  }
}
@media (max-width: 419.98px) {
  .marafon__sale h2 {
    font-size: 41px;
    line-height: 40px;
  }
}

#packages {
  background-image: url("../images/packages/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}
#packages .bi-coin {
  background-color: #f4c420;
  border-radius: 40px;
}
#packages .packages-dec {
  position: absolute;
}
#packages .packages-dec-1 {
  max-width: 200px;
  left: 8.7%;
  margin-top: 438px;
}
@media (max-width: 1575px) {
  #packages .packages-dec-1 {
    left: 0%;
  }
}
@media (max-width: 1285px) {
  #packages .packages-dec-1 {
    left: -4%;
  }
}
@media (max-width: 991.98px) {
  #packages .packages-dec-1 {
    left: 1.1%;
    margin-top: 38px;
  }
}
@media (max-width: 575.98px) {
  #packages .packages-dec-1 {
    display: none;
  }
}
#packages .packages-dec-2 {
  max-width: 200px;
  right: 8.7%;
  margin-top: 438px;
}
@media (max-width: 1575px) {
  #packages .packages-dec-2 {
    right: 0%;
  }
}
@media (max-width: 991.98px) {
  #packages .packages-dec-2 {
    right: 1.7%;
    margin-top: 938px;
  }
}
@media (max-width: 575.98px) {
  #packages .packages-dec-2 {
    display: none;
  }
}
#packages .packages-dec-3 {
  max-width: 358px;
  left: -0.3%;
  margin-top: -485px;
}
@media (max-width: 575.98px) {
  #packages .packages-dec-3 {
    max-width: 300px;
    left: 0;
    margin-top: -329px;
  }
}
#packages .packages-dec-4 {
  max-width: 424px;
  right: 0%;
  margin-top: -505px;
}
@media (max-width: 767.98px) {
  #packages .packages-dec-4 {
    display: none;
  }
}
#packages h2 {
  margin-bottom: 40px;
}
@media (max-width: 991.98px) {
  #packages h2 {
    margin-bottom: 25px;
  }
}
@media (max-width: 419.98px) {
  #packages .col-12 {
    padding-left: 5px;
    padding-right: 5px;
  }
}
#packages .border {
  border: 6px solid #FFD6B6 !important;
}
@media (max-width: 575.98px) {
  #packages .border {
    border: 4px solid #FFD6B6 !important;
  }
}
#packages .container {
  /* margin: 0 auto;
  overflow: hidden; */
  padding-top: 20px;
}
#packages .packages__item {
  font-family: "PT Sans";
  font-size: 22px;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
#packages .packages__item-title {
  color: white;
  font-family: "BERNIERDISTRESSED-REGULAR";
  display: block;
  padding: 26px 3px;
  font-size: 35px;
  background: #4F7290;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 1199.98px) {
  #packages .packages__item-title {
    font-size: 30px;
  }
}
@media (max-width: 991.98px) {
  #packages .packages__item-title {
    font-size: 35px;
  }
}
@media (max-width: 575.98px) {
  #packages .packages__item-title {
    font-size: 32px;
  }
}
#packages .packages__item-description {
  font-size: 21px;
  background-color: white;
  padding: 30px 20px 0px 7px;
}
#packages .packages__item-description .none {
  -webkit-text-decoration: line-through 1.4px;
          text-decoration: line-through 1.4px;
  color: black;
  opacity: 0.6;
}
#packages .packages__item-description p {
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  color: #81a055;
  font-weight: 600;
}
#packages .packages__item-description .sub {
  color: #4F7290;
  font-weight: 700;
  font-size: 18px;
  margin-left: 20px;
  margin-bottom: 25px;
  line-height: 18px;
}
@media (max-width: 575.98px) {
  #packages .packages__item-description .sub {
    font-size: 20px;
  }
}
#packages .packages__item-description .sub__img {
  margin-bottom: 10px;
}
#packages .packages__item-description span {
  font-size: 18px;
  color: #D78C69;
  line-height: 19px;
  display: block;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: 7px;
}
#packages .packages__item-buy {
  padding: 0 20px;
  background-color: white;
}
#packages .packages__item-prices {
  display: block;
  align-items: end;
  font-weight: 700;
  color: #4F7290;
}
#packages .packages__item-prices .recordings {
  font-family: "PT Sans";
  color: #000;
  font-weight: 400;
  text-align: center;
  font-size: 22px;
  line-height: 23px;
}
#packages .packages__item-prices .recordings span {
  color: #D78C69;
  display: block;
  font-weight: 600;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  margin-top: 15px;
  margin-bottom: 10px;
}
#packages .packages__item-price-bonusrub {
  font-weight: 700;
}
#packages .packages__item-price-new {
  font-size: 50px;
  margin-right: 10px;
  margin: 0 auto;
  color: #4F7290;
}
@media (max-width: 1199.98px) {
  #packages .packages__item-price-new {
    font-size: 42px;
  }
}
#packages .packages__item-price-old {
  text-decoration: line-through;
  font-size: 30px;
}
@media (max-width: 1199.98px) {
  #packages .packages__item-price-old {
    font-size: 26px;
  }
}
#packages .packages__item-sale-percent {
  font-size: 40px;
  display: block;
  width: 190px;
  margin: 20px auto;
  text-align: center;
  font-weight: 700;
  border-radius: 6px;
  padding: 5px;
}
#packages .packages__item .buttons {
  text-align: center;
}
#packages .codes > a.active,
#packages .codes > a:hover {
  text-decoration: none;
  color: white;
  background: #D78C69;
}
#packages .inside {
  margin-left: -15px;
  margin-top: 15px;
}
#packages .inside li {
  margin-bottom: 15px !important;
}
#packages .inside li:before {
  left: -21px !important;
  top: 8px !important;
  width: 8px !important;
  height: 8px !important;
  border-radius: 30% !important;
  background-color: #FFA245 !important;
}
#packages .codes > a {
  display: inline-block;
  width: 35px;
  height: 37px;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  color: white;
  background: #FFD6B6;
  border-radius: 2px;
}
#packages .codes {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  max-width: 185px;
}
#packages .buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#packages ul li {
  font-size: 19px;
  margin-bottom: 20px;
  line-height: normal;
}
#packages ul li::before {
  background-color: #FFA245 !important;
}
@media (max-width: 575.98px) {
  #packages ul li {
    font-size: 19px;
  }
}
#packages .inside {
  list-style-type: disc;
}
#packages .inside li {
  color: linear-gradient(270deg, #D8775D, #FF8B32);
}
#packages .inside li::before {
  border: 1px solid black;
}

@media (max-width: 575.98px) {
  #packages .packages__item-description {
    padding: 29px 10px 0px 0px;
  }
  #packages ul {
    padding-left: 32px;
  }
}
.webp #packages {
  background-image: url("../images/packages/bg.webp");
}

@media (max-width: 575.98px) {
  #packages {
    background-image: url("../images/packages/bg-mobile.jpg");
  }
  .webp #packages {
    background-image: url("../images/packages/bg-mobile.webp");
  }
}
.questions {
  /*background-image: url('../images/questions/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;*/
}
@media (max-width: 575.98px) {
  .questions {
    padding-top: 60px;
  }
}
.questions-item {
  border: 6px solid #FFD6B6;
  padding-bottom: 30px;
  margin-bottom: 30px !important;
  max-width: 830px;
  margin: 0 auto;
  background: white;
  z-index: 9;
  position: sticky;
}
@media (max-width: 575.98px) {
  .questions-item {
    border: 4px solid #FFD6B6;
  }
}
@media (max-width: 575.98px) {
  .questions-heading {
    margin-bottom: 30px;
  }
}
@media (max-width: 419.98px) {
  .questions .col-12 {
    padding-left: 5px;
    padding-right: 5px;
  }
}
.questions-question {
  font-family: "PT Sans";
  position: relative;
  padding-top: 35px;
  padding-bottom: 15px;
  padding-right: 180px;
  font-size: 21px;
  color: #D78C69;
  font-weight: 700;
  cursor: pointer;
  padding-left: 70px;
}
.questions-answer {
  padding-left: 70px;
  padding-right: 70px;
  font-size: 20px;
}
.questions-indicator {
  transition: 0.245s;
  right: 40px;
  position: absolute;
  top: 75%;
  transform: translateY(-50%);
  width: 40px;
  height: 45px;
  background-image: url("../images/icons/icon_chevron-up.svg");
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
}
.questions-indicator-chevron {
  font-size: 18px;
  transform: rotate(90deg);
}

.questions-question {
  color: #D78C69;
}

.questions-question.collapsed {
  color: #4F7290;
  font-weight: 700;
}

.questions-question.collapsed .questions-indicator {
  background-image: url("../images/icons/icon_chevron-down.svg");
}

@media (max-width: 767.98px) {
  .questions-question {
    padding-left: 40px;
  }
  .questions-answer {
    padding-left: 40px;
  }
}
@media (max-width: 575.98px) {
  .questions-question {
    padding-right: 90px;
  }
  .questions-header {
    font-size: 50px;
    margin-bottom: 0px !important;
  }
  .questions-answer {
    padding-left: 39px;
    padding-right: 15px;
  }
}
@media (max-width: 419.98px) {
  .questions-indicator {
    right: 45%;
    top: 122%;
  }
  .questions-question {
    font-size: 21px;
    line-height: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 14px;
    padding-bottom: 10px;
  }
  .questions-answer {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0px;
  }
  .questions-answer p {
    font-size: 20px;
    line-height: 28px;
    line-height: normal;
  }
  .questions-item {
    padding-bottom: 50px;
  }
}
/*
.webp .questions {
    background-image: url('../images/questions/bg.webp');
}

@media (min-width: 1900px) {
    .questions {
      background-image: url('../images/questions/bg-2x-scale-2_00x.png');
    }

    .webp .questions {
      background-image: url('../images/questions/bg-2x-scale-2_00x.webp');
    }
}*/
.ask {
  background-image: url("../images/ask/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}
.ask h3 {
  margin: 0 auto;
  margin-bottom: 60px;
  max-width: 710px;
}
@media (max-width: 575.98px) {
  .ask h3 {
    margin-bottom: 30px;
  }
}
.ask-subtitle {
  line-height: 32px;
  font-family: "PT Sans";
  font-size: 22px;
  max-width: 430px;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
}
@media (max-width: 575.98px) {
  .ask-subtitle {
    font-size: 20px;
  }
}
.ask .button {
  width: 100%;
  max-width: 72%;
  padding: 16px 48px;
  font-size: 20px;
  letter-spacing: 0.8px;
}
@media (max-width: 991.98px) {
  .ask .button {
    max-width: unset;
    width: 260px;
  }
}
@media (max-width: 767.98px) {
  .ask .button {
    margin-bottom: 50px !important;
  }
}
@media (max-width: 419.98px) {
  .ask .button {
    width: 280px;
  }
}
.ask-buttons_icon {
  width: 35px;
  margin-right: 10px;
  margin-bottom: 1px;
}

.webp .ask {
  background-image: url("../images/ask/bg.webp");
}

@media (max-width: 575.98px) {
  .ask {
    background-image: url("../images/ask/bg-mobile.jpg");
  }
  .webp .ask {
    background-image: url("../images/ask/bg-mobile.webp");
  }
}
.marafon_price .ask {
  padding-top: 120px;
}
@media (max-width: 575.98px) {
  .marafon_price .ask {
    padding-top: 70px;
  }
}

footer {
  background: #fff;
  color: black !important;
  text-align: center;
  font-size: 16px;
  padding: 40px 0;
}
footer a {
  color: black !important;
}
footer p {
  color: black !important;
}
footer .text-white {
  color: black !important;
}/*# sourceMappingURL=style.css.map */

.main-navigation__container {
          font-size: 18px;
        }
        .main-navigation__list li {
          padding: 0 5px;
        }
        
        .main-navigation__list-nav-link {
          color: #212529;
        }
        .main-navigation__phone-block a {
          color: #212529;
        }

        .main-navigation__list-nav-link:hover {
          color: #FFA245;
        } 
        .main-navigation__phone-block a:hover {
          color: #FFA245;
        }

        .main-navigation__list-nav-li.active {
          border-color: #FFA245;
        }
        .main-navigation__mobile-menu-btn {
          background-color: #4F7290;
        }