


.main {
    background-image: url('/images/main/bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-height: 820px;
    padding-top: 10px;
    position: relative;
    margin: 0 0 -30px 0;
}

/* ============ КОНТЕЙНЕР И СЕТКА ============ */
.main .container {
    position: relative;
    z-index: 2;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.main-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: visible;
		padding: 70px 0 0 0;
}

.main .col-lg-9.col-12 {
    flex: 0 0 75%;
    max-width: 75%;
    padding-right: 15px;
    padding-left: 15px;
}

.main .col-lg-3.d-none.d-lg-block {
    flex: 0 0 25%;
    max-width: 25%;
    padding-right: 15px;
    padding-left: 15px;
}

.main .images-wrapper {
    width: 100%;
    height: 100%;
    overflow: visible;
    position: relative;
}

.main .main-image {
	border: 1px solid #000;
    position: absolute;
    width: 95%;
    top: 0;
    left: 28px;
    height: auto;
    z-index: 1;
}

.main .brush-image {
    position: absolute;
    max-width: 250px;
    width: 60%;
    bottom: -150px;
    right: 300px;
    z-index: 2;
}

.main h1 {
    margin-top: 0;
    text-align: left;
    margin-bottom: 20px;
    font-size: 104px;
    line-height: 70px;
    color: #D78C69;
    text-transform: uppercase;
    font-family: "BERNIERDISTRESSED-REGULAR";
    max-width: 600px;
}

.main h1 .small {
    font-size: 84px;
    display: block;
    margin-top: 10px;
    text-transform: lowercase;
}

.main h1 .sub {
    display: block;
    margin: 20px 0 14px 0;
    font-size: 48px;
    line-height: 41px;
    color: #4F7290;
}

.main .features {
    padding: 0 0 20px 0;
    list-style: none;
    text-align: left;
    max-width: 500px;
}

.main .features li {
    font-size: 22px;
    margin-bottom: 15px;
    position: relative;
    line-height: 1.4;
}

.main .features li:before {
    content: "";
    position: absolute;
    left: -25px;
    top: 12px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #FFA245;
}

.main .features li b {
    color: #4F7290;
    font-weight: 700;
}

.main .button-wrapper {
    text-align: left;
    position: relative;
    z-index: 3;
}

.main .button_big {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 21px 48px;
    max-width: 370px;
    background: linear-gradient(270deg, #D8775D, #FF8B32);
    border-radius: 6px;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2.5px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.main .button_big:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    background: #DB5314;
}

.main .mobile-image {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 40px auto 30px auto;
    display: none;
    position: relative;
    z-index: 2;
}

.main .advantages {
    margin-top: 60px;
    position: relative;
    z-index: 3;
}

.main .advantage-item {
    background-image: url('/images/main/die.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    text-align: center;
    border: 6px solid #FFD6B6;
    margin-bottom: 20px;
}

.main .advantage-item p {
    font-size: 21px;
    line-height: 1.3;
    margin: 0;
}

.main .advantage-item b {
    color: #4F7290;
}

@media (max-width: 1199px) {
    .main {
        min-height: auto;
        padding-bottom: 60px;
    }
    
    .main h1 {
        font-size: 85px;
        line-height: 60px;
    }
    
    .main h1 .small {
        font-size: 70px;
    }
    
    .main h1 .sub {
        font-size: 40px;
        line-height: 36px;
    }
    
    .main .features li {
        font-size: 20px;
        max-width: 420px;
    }

    .main-content {
        padding: 30px 0 0 0;
        width: 100%;
				
    }
    
    .main .main-image {
        width: 120%;
        top: -20px;
        left: -55px;
        max-width: 500px;
    }

    .main .brush-image {
        max-width: 180px;
        right: 320px;
        bottom: -110px;
    }
}

@media (max-width: 991px) {
    .main {
        text-align: center;
        background-image: url('/images/main/bg-mobile.webp');
        padding-bottom: 90px;
        position: relative;
        min-height: auto;
        max-height: none;
        overflow: hidden;
    }
    
    .main .container {
        position: relative;
        z-index: 3;
    }
    
    .main-content {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 4;
    }
    
    .main .col-lg-9.col-12 {
        flex: 0 0 100%;
        max-width: 100%;
        order: 1;
        position: relative;
        z-index: 5;
    }
    
    .main .col-lg-3.d-none.d-lg-block {
        flex: 0 0 100%;
        max-width: 100%;
        order: 4;
    }
    
    .main h1 {
        text-align: center;
        font-size: 80px;
        line-height: 58px;
        margin-bottom: 30px;
        max-width: 100%;
        position: relative;
        z-index: 6;
    }
    
    .main h1 .small {
        font-size: 65px;
        margin-top: 5px;
    }
    
    .main h1 .sub {
        font-size: 38px;
        line-height: 34px;
        margin-top: 15px;
        text-align: center;
    }
    
    .main .features {
        text-align: center;
        padding-left: 0;
        margin: 30px auto;
        max-width: 600px;
        position: relative;
        z-index: 6;
    }
    
    .main .features li {
        text-align: left;
        display: inline-block;
        padding-left: 25px;
        max-width: 500px;
    }
    
    .main .images-wrapper {
        display: none;
    }
    
    .main .mobile-image {
        display: block !important;
        max-width: 450px;
        margin: 30px auto;
        order: 2;
        position: relative;
        z-index: 5;
    }
    
    .main .button-wrapper {
        text-align: center;
        order: 3;
        margin: 20px 0;
        position: relative;
        z-index: 6;
    }
    
    .main .advantages {
        order: 4;
        margin-top: 30px;
        position: relative;
        z-index: 6;
    }
    
    .main .advantage-item {
        height: 120px;
        margin: 10px auto;
        max-width: 300px;
    }
}

@media (max-width: 767px) {
    .main h1 {
        font-size: 65px;
        line-height: 50px;
    }
    
    .main h1 .small {
        font-size: 55px;
    }
    
    .main h1 .sub {
        font-size: 32px;
        line-height: 30px;
    }
    
    .main .features li {
        font-size: 18px;
        margin-bottom: 12px;
    }
    
    .main .button_big {
        padding: 18px 30px;
        font-size: 16px;
        letter-spacing: 1.5px;
        max-width: 320px;
    }
    
    .main .mobile-image {
        max-width: 350px;
        margin: 20px auto;
    }
}

@media (max-width: 575px) {
    .main {
        padding-top: 30px;
        padding-bottom: 60px;
    }
    
    .main h1 {
        font-size: 52px;
        line-height: 42px;
        margin-bottom: 15px;
    }
    
    .main h1 .small {
        font-size: 44px;
        margin-top: 5px;
    }
    
    .main h1 .sub {
        font-size: 26px;
        line-height: 24px;
        margin-top: 10px;
    }
    
    .main .features {
        margin: 20px auto;
        max-width: 100%;
    }
    
    .main .features li {
        font-size: 16px;
        padding-left: 20px;
        margin-bottom: 10px;
        max-width: 100%;
    }
    
    .main .features li:before {
        left: -18px;
        top: 10px;
    }
    
    .main .advantage-item {
        height: 100px;
        border: 3px solid #FFD6B6;
        padding: 0 15px;
    }
    
    .main .advantage-item p {
        font-size: 18px;
    }
    
    .main .button_big {
        padding: 18px 30px !important;
        font-size: 16px !important;
        max-width: 300px !important;
    }
    
    .main .mobile-image {
        max-width: 300px;
        margin: 20px auto;
    }
}

@media (max-width: 419px) {
    .main h1 {
        font-size: 44px;
        line-height: 36px;
    }
    
    .main h1 .small {
        font-size: 38px;
    }
    
    .main h1 .sub {
        font-size: 22px;
        line-height: 22px;
    }
    
    .main .button_big {
        padding: 15px 20px !important;
        font-size: 14px !important;
        max-width: 280px !important;
    }
}

@media (min-width: 1200px) {
    .main .images-wrapper {
        position: relative;
        margin: 0 0 0 -70px;
        width: 150%;
        height: 100%;
        overflow: visible;
    }
    
    .main .main-image {
        width: 130%;
        height: 100%;
        top: 0;
        left: 8px;
        height: auto;
        z-index: 1;
    }

    .main .brush-image {
        position: absolute;
        max-width: 250px;
        width: 60%;
        bottom: -150px;
        right: 350px;
        z-index: 2;
    }
}

.webp .main {
    background-image: url('/images/main/bg.webp');
}

@media (max-width: 991px) {
    .webp .main {
        background-image: url('/images/main/bg-mobile.webp');
    }
}

.webp .main .advantage-item {
    background-image: url('/images/main/die.webp');
}

@media (min-width: 992px) {
    .main .container {
        max-width: 960px;
    }
}