.about {
  padding-top: 120px;

  &__title {
    margin-bottom: 40px;
    font-family: "BERNIERDISTRESSED-REGULAR", sans-serif;
    color: #D78C69;
    text-align: center;
    font-size: 82px;
    line-height: 74px;
  }

  &__text {
    font-family: "PT Sans", sans-serif;

    & p {
      font-size: 22px;
      line-height: normal;
      margin-bottom: 30px;
      color: #000000;
    }

    & strong {
      color: #4F7290;
      font-weight: 700;
    }
  }

  &__image {
    width: 100%;
    height: auto;
    border-radius: 4px;
    object-fit: contain;
  }

  &__row {
    @media (min-width: 992px) {
      display: flex;
      flex-wrap: nowrap;
      margin: 0 -15px;
      align-items: center; 
    }
  }

  .col-lg-6 {
    @media (min-width: 992px) {
      flex: 0 0 50%;
      max-width: 570px;
      padding: 0 15px;
      box-sizing: border-box;
    }
  }

  @media (min-width: 992px) {
    &__row > .col-lg-6:first-child {
      order: 1;
    }
    
    &__row > .col-lg-6:last-child {
      order: 2;
    }

    &__content-col {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }
  }

  @media (max-width: 1199.98px) {
    &__title {
      font-size: 70px;
      line-height: 64px;
      margin-bottom: 20px;
    }
  }

  @media (max-width: 991.98px) and (min-width: 768px) {
    padding-top: 100px;

    &__row {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .col-lg-6 {
      width: 100%;
      max-width: 690px;
      padding: 0 15px;
      box-sizing: border-box;
    }

    &__row > .col-lg-6:first-child {
      order: 2;
    }

    &__row > .col-lg-6:last-child {
      order: 1;
    }

    &__text {
      text-align: center;
      width: 100%;
      margin: 0;
    }

    &__image {
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }
  }

  @media (max-width: 767.98px) {
    padding-top: 150px;
    padding-bottom: 100px;

    &__row {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .col-lg-6 {
      width: 100%;
      max-width: 670px;
      padding: 0 5px;
      box-sizing: border-box;
    }

    &__row > .col-lg-6:first-child {
      order: 2;
    }

    &__row > .col-lg-6:last-child {
      order: 1;
    }

    &__text {
      text-align: center;
      width: 100%;
      margin: 0;
			

      & p {
        font-size: 20px;
        margin-bottom: 19px;
        margin-top: 15px;
      }
    }

    &__image {
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }
  }

  @media (max-width: 575.98px) {
    padding-top: 90px;
    padding-bottom: 60px;

    &__title {
      font-size: 63px;
      line-height: 59px;
      margin-bottom: 10px;
    }

    &__text p {
      font-size: 18px;
			margin-bottom: 19px;
      margin-top: 25px;
    }
  }

  @media (max-width: 419.98px) {
    &__title {
      font-size: 52px;
      line-height: 47px;
      letter-spacing: -0.6px;
      margin-bottom: 0;
    }

    .col-lg-6 {
      padding: 0;
    }
  }
}
