.what {
  padding: 80px 20px;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;

  & h2 {
    margin-bottom: 30px;
    text-align: left;
    margin-top: 0;
    font-family: "BERNIERDISTRESSED-REGULAR", sans-serif;
    font-size: 82px;
    color: #D78C69;
    line-height: 1.1;
  }

  & p {
    font-size: 22px;
    line-height: 1.5;
    margin: 0 0 40px 0;
    color: #000000;
    max-width: 100%;
  }

  & b {
    color: #4F7290;
    font-weight: 700;
  }

  &-img {
    border: 6px solid #FFD6B6;
    max-width: 100%;
    height: auto;
    display: block;
    position: relative;
    z-index: 2;
  }

  &__rows {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }

  &__bg {
    flex: 0 0 68%;
    max-width: 68%;
    padding: 30px 30px 0 30px;
    background-image: url("/images/what/bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border: 6px solid #FFD6B6;
    min-height: 400px;
    box-sizing: border-box;
  }

  &__background {
    flex: 0 0 32%;
    max-width: 32%;
    padding: 0 15px;
  }

  &-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    position: relative;
    align-items: flex-start;
    width: 100%;
  }
}

.container {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

@media (min-width: 992px) {
  .what {
    padding: 100px 40px;

    & h2 {
      margin-left: 60px;
      margin-bottom: 40px;
      font-size: 82px;
    }

    & p {
      margin-left: 60px;
      margin-bottom: 60px;
      max-width: 545px;
    }

    &__bg {
      padding-right: 15px;
      padding-left: 15px;
    }

    &-img {
      max-width: 500px;
      margin-top: -100px;
      margin-left: -129px;
      position: absolute;
    }
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .what {
    padding: 30px 0 100px 0;

    & h2 {
      font-size: 70px;
      text-align: center;
      margin-left: 0;
    }

    & p {
      text-align: center;
      margin-left: 0;
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
    }

    &__bg {
      flex: 0 0 100%;
      max-width: 100%;
      padding-bottom: 180px;
    }

    &__background {
      flex: 0 0 100%;
      max-width: 100%;
      margin-top: -160px;
      display: flex;
      justify-content: center;
    }

    &-img {
      max-width: 540px;
      margin: -40px auto 0;
      position: relative;
    }
  }
}

@media (max-width: 767.98px) {
  .what {
    padding: 30px 20px 100px;

    & h2 {
      font-size: 52px;
      text-align: center;
      margin-bottom: 20px;
      line-height: 1.2;
    }

    & p {
      font-size: 18px;
      text-align: center;
      margin-bottom: 30px;
    }

    &__bg {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 20px;
      padding-bottom: 150px;
      border: 3px solid #FFD6B6;
      min-height: 300px;
    }

    &__background {
      flex: 0 0 100%;
      max-width: 100%;
      margin-top: -140px;
      padding: 0 10px;
    }

    &-img {
      border: 3px solid #FFD6B6;
      margin: 0 auto;
    }

    &-row {
      flex-direction: column;
    }
  }
}

@media (max-width: 600px) {
  .what {
    padding: 30px 15px 100px;
    max-width: 100%;
    width: 100%;

    & h2 {
      font-size: 42px;
      text-align: center;
      margin: 0 0 20px 0;
      width: 100%;
      line-height: 1.2;
    }

    & p {
      font-size: 18px;
      text-align: center;
      margin: 0 0 25px 0;
      width: 100%;
      line-height: 1.4;
      max-width: 100%;
    }

    &__bg {
      padding: 15px 10px;
      padding-bottom: 140px;
      min-height: 250px;
      margin: 0;
      border: 3px solid #FFD6B6;
      width: 100%;
    }

    &__background {
      padding: 0;
      margin: -120px 0 0 0;
      width: 100%;
      max-width: 100%;
      display: flex;
      justify-content: center;
    }

    &-img {
      width: 100%;
      max-width: 100%;
      margin: 0;
      border: 3px solid #FFD6B6;
      display: block;
    }

    &-row {
      margin: 0;
      padding: 0;
      width: 100%;
    }

    &__rows {
      margin: 0;
      padding: 0;
      width: 100%;
    }
  }

  .container {
    max-width: 100%;
    width: 100%;
    padding: 0 10px;
  }
}

@media (max-width: 450px) {
  .what {
    padding: 20px 10px;

    & h2 {
      font-size: 36px;
      margin: 0 0 15px 0;
    }

    & p {
      font-size: 16px;
      margin: 0 0 20px 0;
    }

    &__bg {
      padding: 12px 8px;
      padding-bottom: 120px;
      min-height: 220px;
      border: 2px solid #FFD6B6;
    }

    &__background {
      margin: -100px 0 0 0;
    }

    &-img {
      border: 2px solid #FFD6B6;
    }
  }

  .container {
    padding: 0 8px;
  }
}

@media (max-width: 320px) {
  .what {
    & h2 {
      font-size: 30px;
    }

    & p {
      font-size: 15px;
    }

    &__bg {
      min-height: 180px;
      padding-bottom: 100px;
    }

    &__background {
      margin: -80px 0 0 0;
    }
  }
}